# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# macOS files
.DS_Store

# IDE/Editor-specific files
.vscode/
.idea/

# Caches
.mypy_cache/
.pytest_cache/

# Uvicorn logs (if applicable)
uvicorn.log
